@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body,
  html {
    @apply font-sans;
  }

  body {
    @apply bg-primary-50;
  }
}

@layer utilities {
  .flex-center {
    @apply flex items-center justify-center;
  }
}

.section-heading {
  font-size: 38px;
  font-weight: 700;
  letter-spacing: -0.0075em;
}
.section-description {
  @apply lg:text-xl text-sm font-normal lg:leading-8;
}
.btn {
  @apply text-sm lg:text-base lg:font-sans font-bold lg:font-medium;
}
.tag {
  @apply px-2 py-1 rounded-md font-sans font-medium;
}
.new-gray {
  color: #70777f;
}
.bg-new-gray {
  background-color: #70777f;
}
